.manage-wrapper {
  margin: 0 40px 0 40px;
  display: flex;
  flex-direction: column;

  .max-bid-price-label {
    margin-left: auto;
    display: block;
    width: 120px;
    font-size: 13px;
  }

  fieldset {
    border-radius: 5px;
    border-right: none;
    border-left: none;
    border-bottom: none;

    legend {
      border-top: 1px solid;
      border-left: 1px solid;
      border-right: 1px solid;
      border-radius: 5px 5px 0px 0px;
      padding: 0px 8px 3px 8px;
      box-shadow:-0px -1px 2px #F1F1F1;
      font-weight: normal;
      font-size: 18px;
    }

    .buy-orders {
      margin: 40px 60px;

      .default-message {
        margin: auto;
        white-space: nowrap;
        width: 214px;
      }

      span {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #ababab;
      }

      .buyOrder {
        height: 35px;
      }

      p {
        width: 30%;
        font-size: 14px;
      }

      .column-names {
        font-weight: bold;
        font-size: 13px;
      }

      .manage-buttons {
        display: flex;
        flex-direction: row;
        width: 10%;

        p {
          width: 30%;

          i {
            &:hover {
              cursor: pointer;
              font-weight: lighter;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
